#left{
    background: url('ramka-left.png') repeat-y left;
}
#right{
    background: url('ramka-right.png') repeat-y right;
}
#top{
    background: url('ramka-top.png') repeat-x top;
}
#bottom{
    background: url('ramka-bottom.png') repeat-x bottom;
}
#left_top{
    background: url('ramka-left-top.png') no-repeat left top;
}
#left_bottom{
    background: url('ramka-left-bottom.png') no-repeat left bottom;
}
#right_top{
    background: url('ramka-right-top.png') no-repeat right top;
}
#right_bottom{
    background: url('ramka-right-bottom.png') no-repeat right bottom;
}
#main_text{
    padding: 50px;
    line-height: 180%;
    text-align: justify;
}
#uranium{
    float: left;
}
#isotopes{
    text-align: center;
    border: solid 1px #a2a9b1;
    border-collapse: collapse;
}
.natural_isotopes{
    background-color: #eaf3ff;
    font-weight: bold;
}
td{
    border: 1px solid #a2a9b1;
}
th{
    border: 1px solid #a2a9b1;
}
p{
    font-size: large;
}