body{
    font-family: sans-serif;
}
.header_footer{
    text-align: center;
    color: #0000ff;
    font-size: x-large;
    background-color: #87cefa;
    padding: 10px;
}
#menu{
    padding-left: 10px;
    padding-right: 10px;
    background: url('menu_football.png') repeat-y left top;
    vertical-align: top;
}
#main{
    background: url('ball.png') repeat-y right top;
}
#football{
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
p{
    text-indent: 7px;
    margin-left: 5px;
}