body{
    margin: 0;
    background-color: #eaeaea;
}
div.gridContainer1{
    background-color: #8b3a3a;
    width: 77.85vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 123px 438px 374px 439px;
    row-gap: 85px;
    margin: 0 auto;
    position: relative;
}
div.logo{
    background: url(./logos/logo.png) no-repeat 53.29% 64.17% #8b3a3a;
    height: 530px;
    width: 77.85vw;
    margin: 0 auto;
}

/* top menu */

div.gridContainer1 div.topMenu{
    background: #f8f8f8 url(./logos/topMenuLogo.png) no-repeat 10vw 45%;
}
div.gridContainer1 div.topMenu div.menu a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a1f1f;
    font-size: 17px;
}
div.gridContainer1 div.topMenu div.menu{
    display: flex;
    height: 100%;
    margin: 0 6.04vw 0 19.1vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.gridContainer1 div.topMenu div.menu form.search{
    position: relative;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=submit]:hover{
    cursor: pointer;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=submit]{
    border: none;
    background-color: #ffffff;
    position: absolute;
    padding: 0;
    top: 5px;
    right: 0.1vw;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=text]{
    height: 26px;
    width: 160px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: #c2c2c2 solid 1px;
}

/* hero page */

div.gridContainer1 div.heroPage{
    background: #f9f9f9 url(./heroPage/background.png) no-repeat;
    background-size: cover;
    display: flex;
}
div.gridContainer1 div.heroPage div.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 7vw;
}
div.gridContainer1 div.heroPage div.container div.recipeName{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #911026;
    font-weight: bold;
    margin-top: 178px;
}
div.gridContainer1 div.heroPage div.container div.recipeDescription{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    width: 338px;
    font-weight: bold;
    margin-top: 15px;
}
div.gridContainer1 div.heroPage div.container div.getItRecipeButton button{
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 1px solid #c2c2c2;
    width: 110px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}
div.gridContainer1 div.heroPage div.container div.getItRecipeButton button:active{
    background-color: #bcdff5ee;
}
div.gridContainer1 div.heroPage div.getItRecipeButton button:hover{
    cursor: pointer;
}
div.gridContainer1 div.heroPage div.slider{
    height: 438px;
    position: absolute;
    right: 0;
}

/* recipes */

div.gridContainer1 div.recipes{
    background-color: white;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
div.gridContainer1 div.recipes div.recipe1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}
div.gridContainer1 div.recipes div.recipe1 div.more,
div.gridContainer1 div.recipes div.recipe2 div.more,
div.gridContainer1 div.recipes div.recipe3 div.more{
    display: flex;
    color: #555555;
}
div.gridContainer1 div.recipes div.recipe1 div.more div.numbers,
div.gridContainer1 div.recipes div.recipe2 div.more div.numbers,
div.gridContainer1 div.recipes div.recipe3 div.more div.numbers{
    padding-left: 0.4vw;
}
div.gridContainer1 div.recipes div.recipe1 div.more div.time,
div.gridContainer1 div.recipes div.recipe2 div.more div.time,
div.gridContainer1 div.recipes div.recipe3 div.more div.time{
    border-right: #6f6f6f 1px solid;
    padding-right: 0.5vw;
}
div.gridContainer1 div.recipes div.recipe1 div.recipeName,
div.gridContainer1 div.recipes div.recipe2 div.recipeName,
div.gridContainer1 div.recipes div.recipe3 div.recipeName{
    padding-top: 10px;
}
div.gridContainer1 div.recipes div.recipe1 div.image{
    background: url(./recipes/recipe1.png) no-repeat;
    width: 313px;
    height: 208px;
}
div.gridContainer1 div.recipes div.recipe2 div.image{
    background: url(./recipes/recipe2.png) no-repeat;
    width: 313px;
    height: 208px;
}
div.gridContainer1 div.recipes div.recipe3 div.image{
    background: url(./recipes/recipe3.png) no-repeat;
    width: 313px;
    height: 208px;
}

/* recipe */

div.gridContainer1 div.recipe{
    background-color: white;
}
div.gridContainer1 div.recipe div.main{
    display: flex;
    justify-content: space-between;
}
div.gridContainer1 div.recipe div.main div.image{
    width: 36.25vw;
    height: 439px;
    background: url(./recipe/image.png) no-repeat;
}
div.gridContainer1 div.recipe div.main div.text:not(div.gridContainer1 div.recipe div.main div.text div.header div.text){
    margin: 30px 0;
}
div.gridContainer1 div.recipe div.main div.text div.header{
    display: flex;
    flex-direction: column;
    margin-right: 4.79vw;
}
div.gridContainer1 div.recipe div.main div.text div.header div.text{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
    color: #055555;
}
div.gridContainer1 div.recipe div.main div.text div.header div.others{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
div.gridContainer1 div.recipe div.main div.text div.header div.others div.more{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #555555;
}
div.gridContainer1 div.recipe div.main div.text div.header div.others button{
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 1px solid #c2c2c2;
    width: 110px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
div.gridContainer1 div.recipe div.main div.text div.header div.others button:active{
    background-color: #bcdff5ee;    
}
div.gridContainer1 div.recipe div.main div.text div.header div.others button:hover{
    cursor: pointer;
}
div.gridContainer1 div.recipe div.main div.text div.mainText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
div.gridContainer1 div.recipe div.main div.text div.mainText div.directions{
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
}
div.gridContainer1 div.recipe div.main div.text div.mainText div.ingredients,
div.gridContainer1 div.recipe div.main div.text div.mainText div.instruction{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Error and Author */

    /* Error */

div.errorAndAuthor{
    height: 520px;
    width: 77.85vw;
    background: #8b3a3a;
    padding-top: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.errorAndAuthor div.error{
    width: 36.11vw;
    background: white url(./error/background.png) no-repeat center;
    background-size: cover;
}
div.errorAndAuthor div.error div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2.43vw;
    margin-right: 2.92vw;
    padding-top: 19px;
    padding-bottom: 9px;
}
div.errorAndAuthor div.error div.container{
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.errorAndAuthor div.error div.container div.sorry{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 107px;
}
div.errorAndAuthor div.error div.container div.text{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    color: #a9a9a9;
}
div.errorAndAuthor div.error div.container button{
    margin-top: 145px;
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 1px solid #c2c2c2;
    width: 110px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
div.errorAndAuthor div.error div.container button:active{
    background-color: #bcdff5ee;
}

    /* Author */

div.errorAndAuthor div.author{
    width: 36.11vw;
    background: white;
}
div.errorAndAuthor div.author div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2.43vw;
    margin-right: 2.92vw;
    padding-top: 19px;
    padding-bottom: 9px;
}
div.errorAndAuthor div.author div.container{
    display: flex;
    justify-content: space-between;
    margin: 0 2.08vw 0 3.13vw;
    height: 469px;
}
div.errorAndAuthor div.author div.container div.photo{
    margin-top: 25px;
    height: 129px;
    width: 129px;
    background: url(./author/karen.png) no-repeat;
}
div.errorAndAuthor div.author div.container div.main{
    width: 20.49vw;
    height: 380px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
div.errorAndAuthor div.author div.container div.main div.name{
    font-size: 22px;
}
div.errorAndAuthor div.author div.container div.main div.about{
    font-style: italic;
    font-size: 19px;
}
div.errorAndAuthor div.author div.container div.main div.text{
    padding-bottom: 115px;
    margin-right: 1vw;
    background: url(./author/signature.png) no-repeat right bottom;
}

/* Side Bar */

    /* Recipe Blog and Target */

        /* Recipe Blog */

div.sideBar{
    padding-top: 78px;
    height: 1049px;
    width: 77.85vw;
    background: #8b3a3a;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
div.sideBar div.flexContainer1,
div.sideBar div.flexContainer2,
div.sideBar div.flexContainer3{
    display: flex;
    flex-direction: column;
    width: 20.14vw;
}
div.sideBar div.flexContainer1 div.recipeBlog{
    height: 349px;
    background: white;
}
div.sideBar div.flexContainer1 div.recipeBlog div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0 1.5vw;
    padding-top: 19px;
    padding-bottom: 9px;
    color: #055555;
    text-align: center;
}
div.sideBar div.flexContainer1 div.recipeBlog div.blogerInfo{
    margin: 13px 1.5vw;
    display: flex;
    justify-content: space-between;
}
div.sideBar div.flexContainer1 div.recipeBlog div.blogerInfo div.text div.recipeBy{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}
div.sideBar div.flexContainer1 div.recipeBlog div.blogerInfo div.text div.name{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
div.sideBar div.flexContainer1 div.recipeBlog div.blogerInfo div.text div.info{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
div.sideBar div.flexContainer1 div.recipeBlog div.blogerInfo div.photo{
    width: 58px;
    height: 58px;
    background: url(./sideBar/recipeBlog/bloger.png);
}
div.sideBar div.flexContainer1 div.recipeBlog div.food{
    width: 100%;
    height: 205px;
    background: url(./sideBar/recipeBlog/photo.png) no-repeat center;
    background-size: cover;
}

        /* Target */

div.sideBar div.flexContainer1 div.target{
    margin-top: 48px;
    height: 472px;
    background: white;
}
div.sideBar div.flexContainer1 div.target div.header:not(
    div.sideBar div.flexContainer1 div.target div.targets div.housewives div.main div.header,
    div.sideBar div.flexContainer1 div.target div.targets div.newlyweds div.main div.header,
    div.sideBar div.flexContainer1 div.target div.targets div.businessLady div.main div.header
){
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0 1.5vw;
    padding-top: 19px;
    padding-bottom: 9px;
}
div.sideBar div.flexContainer1 div.target div.presentation{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0 2vw;
    padding-top: 14px;
    padding-bottom: 9px;
    color: #055555;
}
div.sideBar div.flexContainer1 div.target div.targets{
    height: 285px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.sideBar div.flexContainer1 div.target div.targets div.housewives,
div.sideBar div.flexContainer1 div.target div.targets div.newlyweds,
div.sideBar div.flexContainer1 div.target div.targets div.businessLady{
    display: flex;
    justify-content: space-between;
}
div.sideBar div.flexContainer1 div.target div.targets div.housewives div.image{
    width: 58px;
    height: 59px;
    background: url(./sideBar/target/housewives.png) no-repeat;
    margin-left: 1.67vw;
}
div.sideBar div.flexContainer1 div.target div.targets div.newlyweds div.image{
    width: 58px;
    height: 59px;
    background: url(./sideBar/target/newlyweds.png) no-repeat;
    margin-left: 1.67vw;
}
div.sideBar div.flexContainer1 div.target div.targets div.businessLady div.image{
    width: 58px;
    height: 59px;
    background: url(./sideBar/target/businessLady.png) no-repeat;
    margin-left: 1.67vw;
}
div.sideBar div.flexContainer1 div.target div.targets div.housewives div.main,
div.sideBar div.flexContainer1 div.target div.targets div.newlyweds div.main,
div.sideBar div.flexContainer1 div.target div.targets div.businessLady div.main{
    width: 9.72vw;
    margin-right: 3.13vw;
    color: #555555;
    font-family: 'Josefin Sans', sans-serif;
}
div.sideBar div.flexContainer1 div.target div.targets div.housewives div.main div.header,
div.sideBar div.flexContainer1 div.target div.targets div.newlyweds div.main div.header,
div.sideBar div.flexContainer1 div.target div.targets div.businessLady div.main div.header{
    font-size: 19px;
}
div.sideBar div.flexContainer1 div.target div.targets div.housewives div.main div.text,
div.sideBar div.flexContainer1 div.target div.targets div.newlyweds div.main div.text,
div.sideBar div.flexContainer1 div.target div.targets div.businessLady div.main div.text{
    font-style: italic;
}

    /* Recipe Filter, Tags and Calender */

        /* Recipe Filter */

div.sideBar div.flexContainer2 div.recipeFilter{
    background: white;
    height: 427px;
}
div.sideBar div.flexContainer2 div.recipeFilter div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0 1.5vw;
    padding-top: 19px;
    padding-bottom: 9px;
}
div.sideBar div.flexContainer2 div.recipeFilter div.filter form{
    display: flex;
    justify-content: space-between;
    margin: 14px 3.47vw;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
div.sideBar div.flexContainer2 div.recipeFilter div.filter form input{
    display: none;
}
div.sideBar div.flexContainer2 div.recipeFilter div.filter form:not(:checked) > label{
    cursor: pointer;
}
div.sideBar div.flexContainer2 div.recipeFilter div.filter form > input:checked + label{
    font-weight: bold;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes{
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe1,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe2,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe3{
    display: flex;
    justify-content: space-between;
    margin: 0 2.36vw 0 1.32vw;
    font-family: 'Josefin Sans', sans-serif;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe1 div.image{
    width: 50px;
    height: 47px;
    background: url(./sideBar/recipeFilter/recipe1.png) no-repeat;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe2 div.image{
    width: 50px;
    height: 47px;
    background: url(./sideBar/recipeFilter/recipe2.png) no-repeat;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe3 div.image{
    width: 50px;
    height: 47px;
    background: url(./sideBar/recipeFilter/recipe3.png) no-repeat;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe1 div.main div.by,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe2 div.main div.by,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe3 div.main div.by{
    display: flex;
    justify-content: space-between;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe1 div.main div.by div.name,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe2 div.main div.by div.name,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe3 div.main div.by div.name{
    font-weight: bold;
}
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe1 div.main div.text,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe2 div.main div.text,
div.sideBar div.flexContainer2 div.recipeFilter div.recipes div.recipe3 div.main div.text{
    margin-top: 8px;
    font-weight: bold;
}
div.sideBar div.flexContainer2 div.recipeFilter div.button button{
    margin-left: 11.39vw;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 1px solid #c2c2c2;
    width: 110px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
div.sideBar div.flexContainer2 div.recipeFilter div.button button:active{
    background-color: #bcdff5ee;
}

        /* Tags */

div.sideBar div.flexContainer2 div.tags{
    margin-top: 50px;
    background: white;
    height: 160px;
}
div.sideBar div.flexContainer2 div.tags div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0 1.5vw;
    padding-top: 15px;
    padding-bottom: 5px;
}
div.sideBar div.flexContainer2 div.tags div.container{
    padding-top: 12px;
    margin: 0 1.5vw;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;

}
div.sideBar div.flexContainer2 div.tags div.container div.row1,
div.sideBar div.flexContainer2 div.tags div.container div.row2,
div.sideBar div.flexContainer2 div.tags div.container div.row3{
    display: flex;
    justify-content: space-between;
}

        /* Calendar */

div.sideBar div.flexContainer2 div.calendar{
    margin-top: 46px;
    background: white;
    height: 368px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
div.sideBar div.flexContainer2 div.calendar div.header{
    border-bottom: #dddddd 2px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0 1.5vw;
    padding-top: 15px;
    padding-bottom: 5px;
}
div.sideBar div.flexContainer2 div.calendar div.monthsAndArrows{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}
div.sideBar div.flexContainer2 div.calendar div.monthsAndArrows div.arrowLeft,
div.sideBar div.flexContainer2 div.calendar div.monthsAndArrows div.arrowRight{
    font-weight: normal;
    cursor: pointer;
}
div.sideBar div.flexContainer2 div.calendar div.numbersAndDays{
    margin: 0 2.08vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.2vw;
    row-gap: 24px;
    font-style: italic;
}
div.sideBar div.flexContainer2 div.calendar div.numbersAndDays div.noJune{
    color: #9e9e9e;
}
div.sideBar div.flexContainer2 div.calendar div.numbersAndDays div.days{
    border-bottom: #7f7f7f solid 2px;
}



    /* Popular Now and Time Line */

        /* Popular Now */

div.sideBar div.flexContainer3 div.popularNow{
    background: white;
    height: 349px;
}

        /* Time Line */

div.sideBar div.flexContainer3 div.timeLine{
    margin-top: 47px;
    background: white;
    height: 431px;
}